Flask
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
torchaudio --index-url https://download.pytorch.org/whl/cpu
tqdm
scikit-learn
# tsai
git+https://github.com/timeseriesAI/tsai.git
sqlalchemy
pyhive
thrift_sasl
mysqlclient
ipykernel